/* .button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  border: 1.5px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #ffee58;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  transition: background-color 400ms transform 1s;
}

.button:hover {
  background-color: #ffd600;
}

.button:active:hover {
  transform: scale(0.95);
} */
