.cartItemsImage {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.cartItems {
  padding: 0.5rem;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.cartItems:not(first-child) {
  margin-top: 0.3rem;
}
.cartItems div {
  align-items: center;
  justify-content: center;
}
.cartItems h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #eeeeee;
}
.cartItems div h1 {
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  color: #eeeeee;
}

.cartItems button {
  justify-self: center;
  align-self: center;
}

.cartItemsRemoveButton {
  outline: none;
  border: none;
  background-color: #ef5350;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 300ms;
}
.cartItemsRemoveButton:hover {
  transform: scale(1.1);
}
.cartItemsContainer {
  height: 20%;
  width: 70%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.cartItemsContainer button {
  padding: 0.1rem 1rem;
  border: none;
  outline: none;
  background-color: #ffe082;
  color: #212121;
  cursor: pointer;
  transition: transform 300ms;
  font-size: 2rem;
}
.cartItemsContainer button:not(first-child) {
  margin-right: 0.5rem;
}

.cartItemsContainer button:active:hover {
  transform: scale(0.9);
}
