.checkoutContainer {
  padding: 2rem;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.checkout {
  width: 100%;
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.checkout h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.checkout h3:not(:first-child) {
  margin-bottom: 1rem;
}

.checkout h3 span {
  font-weight: bold;
  font-size: 2rem;
  color: #1b5e20;
}
.checkout button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  border: 1.5px solid white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #ffee58;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}
.checkoutTotal {
  text-decoration: uppercase;
  margin-bottom: 1rem;
}

.checkoutLabel {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.checkoutTextarea {
  padding: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  resize: none;
  color: brown;
  font-size: 1.5rem;
}
