.input {
  color: darkgray;
  font-size: 1.5rem;
  padding: 1rem;
  border: 0.5px solid gray;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
}

div {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
