.loading {
  width: 30%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
}

.loading span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -15px;
  top: 0px;
  background-color: #fbc02d;
  border-radius: 50%;
  animation: loadingBefore 2000ms infinite linear alternate-reverse;
}

.loading span::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 105px;
  top: 0px;
  background-color: #fbc02d;
  border-radius: 50%;
  animation: loadingAfter 2000ms infinite linear alternate-reverse;
}

@keyframes loadingBefore {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(50px);
  }
}
@keyframes loadingAfter {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50px);
  }
}
