.form {
  margin: auto;
  width: 100%;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  background-color: #fff;
  position: relative;
}

.form h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: darkgray;
  font-size: 1.5rem;
  padding: 1rem;
  border: 0.5px solid gray;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.form option {
  background-color: transparent;
}

.error {
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 1.2rem;
  color: red;
}

.form button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  border: 1.5px solid white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #40c4ff;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
}

.signupLink {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #212121;
  transition: transform 500ms;
  font-size: 1.4rem;
}
.signupLink:hover {
  transform: translateX(2px);
}

.signupLink:visited,
.signupLink:active {
  color: #212121;
}

.firstNameError,
.lastNameError,
.emailError,
.passwordError,
.confirmPasswordError {
  position: absolute;
  display: inline-block;
  right: 2.2rem;
  color: red;
  font-size: 1.2rem;
}

.firstNameError {
}
.lastNameError {
}

.emailError {
}
.passwordError {
}
