.purchaseHistory {
  margin-top: 2vh;
  padding: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.purchaseHistoryList {
}

.purchaseHistoryItems {
  list-style: none;
}

.purchaseHistoryInfo {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
}

.purchaseHistoryInfo:nth-child(even) {
  background-color: lightcoral;
}
.purchaseHistoryInfo:nth-child(odd) {
  background-color: lightgrey;
}
.purchaseHistoryInfo h4 {
  font-size: 1.5rem;
}

.purchaseContainer {
  margin-bottom: 1rem;
  border-radius: 5px;
}
.purchaseContainer:nth-child(even) {
  background-color: #dcedc8;
  padding: 3rem;
}

.purchaseContainer h3 {
}
.purchaseContainer:nth-child(odd) {
  background-color: #fff9c4;
  padding: 3rem;
}
