*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2rem;
}

.dashboard-container {
  width: 80vw;
  margin: 5vh auto;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
  -ms-grid-columns: minmax(35rem, 1fr);
      grid-template-columns: minmax(35rem, 1fr);
}

.dashboard {
  padding: 1rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 0.5rem;
}

.dashboard-item {
  list-style-type: none;
  height: 7vh;
  background-color: #cfd8dc;
  display: -ms-grid;
  display: grid;
  outline: none;
  border-radius: 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.dashboard-item:hover {
  background-color: rgba(51, 51, 51, 0.095);
}

.dashboard-link {
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #333;
}

.dashboard-link-link:active, .dashboard-link-link:visited {
  color: gray;
}

.dashboard-info {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.dashboard-info__role {
  font-size: 3rem;
}

.dashboard-info__list--item {
  list-style-type: none;
  font-size: 2rem;
}

.dashboard-info__list--item:not(last-child) {
  margin-bottom: 0.5rem;
}

.card {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  position: relative;
}

.cart-container {
  width: 80vw;
  margin: 10vh auto;
  padding: 2rem;
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
}

.products-container {
  width: 98%;
  padding: 1rem;
  margin: 2vh auto;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form {
  margin: auto;
  width: 100%;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

.form-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #cfd8dc;
}

.form-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-category-select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  opacity: 0.9;
  background-color: #cfd8dc;
  letter-spacing: 0.2rem;
}

.form-category-label {
  color: #263238;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
  letter-spacing: 0.2rem;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
}

.form-layout {
  width: 40%;
  margin: 10vh auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(40rem, 1fr);
      grid-template-columns: minmax(40rem, 1fr);
  -ms-grid-rows: minmax(min-content, 1fr);
      grid-template-rows: minmax(-webkit-min-content, 1fr);
      grid-template-rows: minmax(min-content, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.product-button,
.signup-button,
.signin-button,
.checkout-button,
.form-add-production-button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  outline: none;
  color: #cfd8dc;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #448aff;
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.product-button:hover,
.signup-button:hover,
.signin-button:hover,
.form-add-production-button:hover {
  background-color: #cfd8dc;
  color: #448aff;
}

.product-button:active,
.signup-button:active,
.signin-button:active,
.checkout-button:active,
.form-add-production-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.error-signin,
.error-signup {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.2rem;
  color: salmon;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.input-input {
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  opacity: 0.9;
  background-color: #cfd8dc;
  letter-spacing: 0.2rem;
}

.input-input:focus {
  border: 1px solid #ff416c;
}

.input-label {
  color: #263238;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
  pointer-events: none;
  letter-spacing: 0.2rem;
}

.signup-action-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup-link,
.signup-link:visited,
.signup-link:active {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #263238;
  font-size: 1.6rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.signup-link:hover,
.signup-link:visited:hover,
.signup-link:active:hover {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}

.navbar {
  height: 8vh;
  width: 100%;
}

.navbar-links-container {
  width: 100%;
  height: 8vh;
  border: none;
  outline: none;
  margin: auto;
  overflow: hidden;
  background: #ff416c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ff4b2b), to(#ff416c));
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-link {
  height: 100%;
  outline: none;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0.6rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navbar-link:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  background-color: #cfd8dc;
  color: orangered;
}

.navbar-logout {
  cursor: pointer;
}

.navbar-cart {
  height: 100%;
  position: relative;
}

.navbar-cart-size {
  right: 6rem;
  top: 13px;
  color: #fff;
  position: absolute;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  background-color: #9ccc65;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  min-height: 92vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../image/cover.jpg");
  background-position: center 55%;
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title {
  text-align: center;
  font-size: 8rem;
  text-transform: capitalize;
  color: #fffde7;
  position: relative;
  font-weight: 700;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.header-text {
  font-size: 3rem;
  color: #fffde7;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.product {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem;
}

.product-name {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.product-price {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.product-button {
  background-color: #ffab00;
  color: #212121;
}

.checkout {
  padding: 2rem;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.checkout-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-container {
  width: 100%;
  min-height: 10vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.checkout-is-submitted {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.checkout-is-submitted:not(first-child) {
  margin-bottom: 1rem;
}

.checkout-quantity {
  font-weight: bold;
  font-size: 2rem;
  color: #1b5e20;
}

.checkout-total {
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.checkout-textarea {
  width: 100%;
  padding: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  resize: none;
  letter-spacing: 0.2rem;
  color: #212121;
  font-size: 1.6rem;
}

.cart {
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.1);
  background-attachment: scroll fixed;
  border-radius: 5px;
  padding: 0.5rem;
  overflow-y: scroll;
}

.cart-items {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  border-bottom: 1px solid #cfd8dc;
}

.cart-items:not(first-child) {
  margin-top: 1rem;
}

.cart-items-image {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.cart-items-info {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  grid-gap: 1rem;
  color: black;
}

.cart-items-price {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.cart-items-name {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.cart-items-actions {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  justify-items: space-between;
  margin-bottom: 1rem;
}

.cart-items-actions-button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6rem;
  cursor: pointer;
  outline: 1px solid transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.cart-items-actions-button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cart-items-actions-button_add {
  background-color: #0d47a1;
  color: #fff;
}

.cart-items-actions-button_add:hover {
  background-color: #cfd8dc;
  color: #0d47a1;
  outline: 1px solid #0d47a1;
}

.cart-items-actions-button_minus {
  background-color: #ffab00;
  color: #fff;
}

.cart-items-actions-button_minus:hover {
  background-color: #cfd8dc;
  color: #0d47a1;
  outline: 1px solid #ffab00;
}

.cart-items-actions-button_remove {
  background-color: #d32f2f;
  color: #fff;
}

.cart-items-actions-button_remove:hover {
  background-color: #cfd8dc;
  color: #d32f2f;
  outline: 1px solid #d32f2f;
}

.table {
  text-transform: uppercase;
  width: 80%;
  margin: auto;
  text-align: center;
}

.table-head {
  color: #cfd8dc;
  background-color: #212121;
}

.table-head__data {
  padding: 2rem;
  font-size: 2rem;
}

.table-body__row:nth-child(odd) {
  background-color: #cfd8dc;
  color: #212121;
}

.table-body__data {
  font-size: 1.6rem;
  padding: 1rem;
}

.table-button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.table-button:not(first-child) {
  margin-left: 1rem;
}

.table-button:not(last-child) {
  margin-right: 1rem;
}

.table-delete {
  color: red;
  padding: 0.5rem 2rem;
}

.table-delete:hover {
  background-color: #e57373;
  color: #212121;
}

.orders {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  padding: 2rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.orders:nth-child(even) {
  background-color: #cfd8dc;
}

.orders:nth-child(even):hover {
  background-color: #212121;
  color: #fff;
}

.orders:nth-child(odd) {
  background-color: #df9d84;
}

.orders:nth-child(odd):hover {
  background-color: #212121;
  color: #fff;
}

.orders-info {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orders-id {
  font-size: 3rem;
}

.orders-name {
  list-style: none;
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.orders-name:not(last-child) {
  margin-bottom: 0.5rem;
}

.orders-address {
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.orders-length {
  font-size: 1.6rem;
}

.orders-product-info {
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.orders-product-info-text:not(first-child) {
  margin-bottom: 0.5rem;
}

.orders-total {
  font-weight: bold;
  color: green;
  margin-top: 2rem;
}

.orders-purchase-date {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.purchase-container {
  width: 60%;
  margin: auto;
  background-color: #cfd8dc;
  padding: 2rem;
  border-radius: 5px;
}

.purchase-container:nth-child(even) {
  margin-top: 1rem;
}

.purchase-container .purchase-total {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
  .navbar-link {
    font-size: 2rem;
    padding: 0.6rem 8rem;
  }
  .navbar-cart-size {
    right: 4rem;
  }
  .header-title {
    font-size: 7rem;
  }
}

@media screen and (max-width: 850px) {
  .header-title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 720px) {
  .navbar-link {
    padding: 0.6rem 6rem;
  }
  .navbar-cart-size {
    right: 2rem;
  }
  .header-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 610px) {
  .navbar-link {
    padding: 0.6rem 6rem;
  }
  .navbar-cart-size {
    right: 1rem;
  }
  .header-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar-link {
    padding: 0.6rem 3rem;
  }
  .navbar-cart-size {
    right: 0.5rem;
  }
  .header-title {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */