/* GLOBAL STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* font-family: monospace; */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.bg {
  top: 0;
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.1);
}

/* GLOBAL STYLES ENDS */

/* NAV */
.navbar {
  top: -10vh;
  width: 100%;
  height: 10vh;
  position: fixed;
  justify-content: space-between;
  box-shadow: 0.1rem 0 0.1rem rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  animation: navbarAnimation 1.5s linear forwards;
  z-index: 1000;
  background-color: rgba(33, 33, 33, 0.9);
  overflow: hidden;
}

@keyframes navbarAnimation {
  0% {
    top: -10vh;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.logo {
  margin-left: 4.25rem;
  flex-direction: column;
  padding: 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fbc02d;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.logo span {
  color: #2e7d32;
}

.navbar-auth-navigation {
  margin-right: 2rem;
}

.navbar-infos {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.link-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.link {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fbc02d;
  font-size: 0.8rem;
  flex-direction: column;
  text-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 10vh;
  text-align: center;
  opacity: 0.7;
  transition: background-color 0.5s, opacity 0.5s;
}

.link:hover {
  background-color: rgba(170, 170, 170, 0.3);
  opacity: 1;
}

.login-btn,
.logout-btn {
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 10rem;
  text-transform: capitalize;
  transition: background-color 0.5s;
  box-shadow: 0.1rem 0.1rem rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.login-btn {
  background-color: rgba(251, 192, 45, 0.9);
}
.login-btn:hover {
  background-color: rgba(251, 192, 45, 1);
}
.logout-btn {
  background-color: rgba(255, 23, 68, 0.8);
}
.logout-btn:hover {
  background-color: rgba(255, 23, 68, 1);
}

/* NAV ENDS */

/* HOME */

.home {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(max-content, max-content);
}

.home-container {
  position: relative;
  margin-left: 15rem;
  padding: 2rem;
}

.home-infos {
  align-self: start;
}

.home-heading {
  font-size: 5rem;
  letter-spacing: 0.7rem;
  text-transform: capitalize;
  color: #fbc02d;
  text-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  animation: fadeAnimation 2s linear forwards;
  animation-delay: 0.7s;
}

.home-heading span {
  color: rgba(46, 125, 50, 0.8);
}

.family-owned {
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  animation: fadeAnimation 2s linear forwards;
  animation-delay: 1.4s;
  color: #212121;
}
.home-text-wrapper {
  width: 40rem;
}

.home-text {
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  animation: fadeAnimation 2s linear forwards;
  animation-delay: 1.9s;
  font-style: italic;
  color: #212121;
}

.home-actions {
  display: inline-flex;
  align-self: start;
  margin-top: 2rem;
}

.home-signup-btn {
  padding: 0.7rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeAnimation 2s linear forwards;
  animation-delay: 2.4s;
  border-radius: 10rem;
  background-color: #212121;
  transition: background-color 0.5s;
}

.signup-btn {
  background-color: rgba(33, 33, 33, 0.9);
  transition: background-color 0.5s;
}

.signup-btn:hover {
  background-color: #212121;
}

.shop-btn {
  background-color: rgba(2, 170, 176, 0.8);
  transition: background-color 0.5s;
  animation: fadeAnimation 2s linear forwards;
  animation-delay: 2.9s;
}

.shop-btn:hover {
  background-color: rgba(2, 170, 176, 1);
}

/* HOME STARTS */

/* FORM */

.form-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}
.login,
.signup {
  width: 60rem;
  height: 40rem;
  border-radius: 5px;
  animation: fadeAnimation 1s linear forwards;
  animation-delay: 0.3s;
  position: relative;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.05);
  position: absolute;
  background-color: rgb(142, 83, 17, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}

.form-heading {
  margin-left: 5rem;
  color: #aaa;
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.login-form {
  margin-left: 5rem;
  width: 50%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signup-form {
  margin-left: -5rem;
  width: 50%;
  height: 80%;
  flex-direction: column;
}

.login-form-input,
.signup-form-input {
  width: 100%;
  height: 3rem;
  padding: 1rem 1rem;
  color: #212121;
  letter-spacing: 0.1rem;
  border-radius: 10rem;
}

.login-form-input::placeholder,
.signup-form-input::placeholder {
  letter-spacing: 0.13rem;
  font-size: 1rem;
  font-style: italic;
}

.form-signin-btn,
.form-signup-btn {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  align-self: flex-start;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: rgba(150, 201, 61, 0.8);
  color: #fff;
  border-radius: 10rem;
  transition: background-color 0.5s;
}

.form-signup-btn {
  margin-top: 1.2rem;
}

.form-signin-btn:hover,
.form-signup-btn:hover {
  background-color: rgba(150, 201, 61, 1);
}
.error-wrapper {
  width: 100%;
  height: 1.5rem;
  padding: 0.2rem;
}

.login-error,
.signup-error {
  font-size: 0.8rem;
  color: rgba(255, 0, 0, 0.9);
  letter-spacing: 0.1rem;
  height: 1rem;
  padding: 0.1rem;
}

.new-user {
  position: absolute;
  top: 3rem;
  right: 7rem;
  padding: 0.5rem 2rem;
  border-radius: 0 100% 100% 0;
  cursor: pointer;
  font-size: 1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  letter-spacing: 0.1rem;
  background-color: rgba(251, 192, 45, 0.8);
  color: #fff;
  transition: background-color 0.5s;
}

.new-user:hover {
  background-color: rgba(251, 192, 45, 1);
}

/* FORM ENDS */

/* SHOP */
.products-container {
}

.products {
  padding: 2rem;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 0.12rem rgba(170, 170, 170, 0.5);
  overflow: hidden;
  display: grid;
  background-color: #212121;
  height: 25rem;
  grid-row-gap: 1rem;
}

.img-wrapper {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  box-shadow: 0 0 0.12rem rgba(170, 170, 170, 0.5);
  opacity: 0.7;
  border-radius: 0 0 5rem 5rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5rem 5rem;
}

.product-info {
  display: grid;
  place-items: center;
}

.product-name,
.product-price {
  font-size: 0.8rem;
  color: #8e5311;
  letter-spacing: 0.1rem;
}

.product-button {
  font-size: 1.2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #212121;
  font-weight: bold;
  background-color: #fbc02d;
  border-radius: 20rem 20rem 0 0;
  letter-spacing: 0.1rem;
  transition: transform 0.5s;
  z-index: 1;
}

.product-button:hover {
  transform: scale(1.05);
}

/* SHOP ENDS */

/* DASHBOARD */
.dashboard-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(12rem, 12rem) minmax(88vw, 1fr);
}

.dashboard-left {
  width: 15rem;
  height: 100%;
  display: grid;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  background-color: #212121;
}

.dashboard-links {
  margin-right: 2rem;
  align-self: center;
  justify-self: center;
  text-align: right;
  display: grid;
  grid-row-gap: 1.5rem;
  z-index: 20;
  width: 100%;
  height: 15rem;
}
.dashboard-item {
  width: 100%;
  height: 100%;
}
.dashboard-link {
  width: 100%;
  height: 100%;
  color: rgba(251, 192, 45, 0.5);
  transition: color 0.5s;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.dashboard-link:hover {
  color: orangered;
}

.dashboard-info {
  place-self: start;
  display: grid;
  place-items: center;
  grid-row-gap: 1.5rem;
  z-index: 20;
  width: 100%;
}

.dashboard-info h3,
.dashboard-info p {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  color: #aaa;
}

.dashboard-info p {
  font-size: 0.8rem;
}

.dashboard-right {
  width: calc(100% - 15rem);
  margin-top: 10vh;
  margin-left: 15rem;
  height: calc(100% - 10vh);
  outline: 1px solid white;
}

/* DASHBOARD ENDS */
